/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
html,body{
    padding:0px;
    margin:0px;
    font-size: 12px;
    font-family: Helvetica;
  }
  
  nav{
    display: flex;
    background-color: #4DD400;
    padding: 2px;
    color: white;
    justify-content: space-between;
    align-items: center;
  }

  nav div img{
    width: 200px;
    height: auto;
    padding-left: 15px;
}
  
  nav ul{
    display: flex;
  }
  
  nav li{
    padding: 0px 10px 0px 20px;
    list-style: none;
    font-size: 20px;
  }
  
  nav li a{
    color: black;
    text-decoration: none;
  }
  
  nav li a:hover{
    color: white;
  }
  
  /* ------------------------ Main section */
  
  .main_section{
    padding: 5%;
    text-align: center;
  }
  
  .products{
    background-image: url("../images/Curvatura_fondo.png");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 25%;
    display: flex;
  }
  
  .product{
    padding: 10px;
    margin-top: -400px;
  }
  .product .content{
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 1px #c1bcbc;
  }

  div img{
    height: 150px;
    width: auto;
  }

  .img_content{
    text-align: center;
  }
  
  .main_button{
    background-color: #4DD400;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    color: white;
    border:0;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .main_button:hover{
    background-color: #5e9e22;
  }
  