/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* ---------------Variables */
:root{
/* colores */
--orange-color: #df9100;
--white-color: white;
--black-color: black;
/* /colores */

/* box shadow */
--box: 0px 0 2px 1px #313131;
/* /box shadow */

/* tipografia */
--normal: 12px;
--mediano: 20px;
--grande: 30px;
/* /tipografia */


}
/* ---------------Variables */

html,body{
  padding:0px;
  margin:0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
  background-color: var(--black-color);
  background-image: url("../images/fondos/footer_lodyas.png");

}

nav{
  display: flex;
  background-color: var(--orange-color);
  padding: 2px;
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -29px 5px 36px var(--orange-color);
}

/* tamanio del logo de MARTs */
nav div img{
  height: 65px;
  width: auto;
  padding: 5px 15px 0px;
}
/* tamanio del logo de MARTs */

/* ordena las <ul> del navbar (faqs y productos) */
nav ul{
  display: flex;
}

/* style del navbar */
nav li{
  padding: 5px 10px 0px 20px;
  list-style: none;
  font-size: var(--mediano);
}

/* todo lo q tenga escrito el navbar (faqs y lo otro) */
nav li a{
  color: var(--black-color);
  text-decoration: none;
}

/* hover del <li> */
nav li a:hover{
  color: var(--white-color);
}

/* ------------------------ Main section */

.main_section{
  padding: 40px 0px 100px 0px;
  text-align: center;
  color: var(--white-color);
  font-family: Reem Kufi;
}

/* ------------------------ Productos */

.products{
  background-image: url("../images/fondos/FONDOFONDOESFONDO.png");
  max-height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 25% 25% 5% 25%;
  display: flex;
  /* background-color: var(--black-color); */
}

.product{
  padding: 10px;
  margin-top: -400px;
}

.product .titulo{
  font-family: Helvetica;
}

.product .content{
  background-color: var(--white-color);
  padding: 20px;
  box-shadow: var(--box);
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #969696;
}

/* tamanio de la imagen del producto */
div img{
  height: 150px;
  width: auto;
}

/* esto centra la imagen del producto en la cajinga */
.img_content{
  text-align: center;
}

/* boton de lotrai */
.main_button{
  background-color: var(--orange-color);
  width: 100%;
  height: 40px;
  font-size: var(--mediano);
  color: black;
  border:0;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #c7c7c7;
}

/* hover del boton */
.main_button:hover{
  background-color: #cc7f3b;
}

/* --------------------------------CARACTERISTICAS */

.features{
  background-image: url("../images/fondos/Rectangle\ 6.png");
  text-align: center;
  display: flex;
  padding: 50px 25% 5% 10%;
}

.feature{
  padding: 0px 100px 0px 0px;
}

#feature_img{
  width: 300px;
  height: auto;
}

#feature_title{
  color: var(--white-color);
  font-family: Rubik;
  font-size: var(--grande);
  text-shadow: rgb(49, 49, 49) 3px 3px;
}

#feature_description{
  color: var(--white-color);
  font-size: var(--mediano);
  text-shadow: rgb(49, 49, 49) 3px 3px;
}