/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* ---------------Variables */
:root{
/* colores */
--orange-color: #df9100;
--white-color: white;
--black-color: black;
--yellow-color: rgb(238, 206, 101);
/* /colores */

/* box shadow */
--box: 0px 0 2px 1px #313131;
/* /box shadow */

/* tipografia */
--normal: 12px;
--mediano: 20px;
--grande: 30px;
/* /tipografia */


}
/* ---------------Variables */

html,body{
  padding:0px;
  margin:0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
  background-color: var(--black-color);
  background-image: url("../images/fondos/footer_lodyas.png");

}

.vl {
  border-left: 1px solid #0f0f0f4a;
  height: 30px;
}

nav{
  display: flex;
  background-color: var(--orange-color);
  padding: 2px;
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -35px 5px 36px var(--black-color);
}

/* tamanio del logo de MARTs */
nav div img{
  height: 65px;
  width: auto;
  padding: 0px 15px 0px;
}

nav div img:hover{
  transform: scale(1.05, 1.05);
}
/* tamanio del logo de MARTs */

/* ordena las <ul> del navbar (faqs y productos) */
nav ul{
  display: flex;
}

/* style del navbar */
nav li{
  padding: 0px 10px 0px 20px;
  list-style: none;
  font-size: var(--mediano);
}

/* todo lo q tenga escrito el navbar (faqs y lo otro) */
nav li a{
  color: var(--black-color);
  text-decoration: none;
}

/* hover del <li> */
nav li a:hover{
  color: var(--white-color);
}

/* ------------------------ Main section */

.main_section{
  padding: 40px 0px 100px 0px;
  text-align: center;
  color: var(--white-color);
  font-family: Reem Kufi;
}

/* ------------------------ Productos */

.products{
  background-image: url("../images/fondos/FONDOFONDOESFONDO.png");
  max-height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 25% 25% 5% 25%;
  display: flex;
  /* background-color: var(--black-color); */
}

.product{
  padding: 10px;
  margin-top: -400px;
}

.product .titulo{
  font-family: Helvetica;
}

.product .content{
  background-color: var(--white-color);
  padding: 20px;
  box-shadow: var(--box);
  border-radius: 12px 12px 12px 12px;
  border: 1px solid #969696;
}

/* tamanio de la imagen del producto */
div img{
  height: 150px;
  width: auto;
}

/* esto centra la imagen del producto en la cajinga */
.img_content{
  text-align: center;
}

/* boton de lotrai */
.main_button{
  background-color: var(--orange-color);
  width: 100%;
  height: 40px;
  font-size: var(--mediano);
  color: black;
  border:0;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #c7c7c7;
}

/* hover del boton */
.main_button:hover{
  background-color: #cc7f3b;
}

/* --------------------------------CARACTERISTICAS */

#fondoGral{
  /* background-image: url("../images/fondos/Rectangle\ 6.png"); */
  background-color: rgb(234, 234, 234, 0.14);
}

.features{
  text-align: center;
  display: flex;
  margin-left: 5%;
}

.feature{
  padding-right: 5%;
}

#feature_img{
  width: 300px;
  height: auto;
}

#feature_title{
  color: var(--white-color);
  font-family: Rubik;
  font-size: var(--grande);
  text-shadow: rgb(49, 49, 49) 3px 3px;
}

#feature_description{
  color: var(--white-color);
  font-size: var(--mediano);
  text-shadow: rgb(49, 49, 49) 3px 3px;
}

/* -------------------------------------- MENCIONES */

#menciones{
  text-align: center;
  font-size: 40px;
  text-shadow: rgb(49, 49, 49) 1px 1px;
}

.mentions{
  margin-top: -125px;
  margin-left: 8%;
  text-align: center;
  display: flex;
  padding: 10% 10% 5% 0;
}

.mention{
  /* margin-top: 130px; */
  padding-right: 2%;
}

.mention .content{
  border: 1px solid #a1a1a1;
  box-shadow: 7px 7px 10px -8px rgba(0,0,0,0.91); 
  background-color: var(--white-color);
}

#mention_title{
  font-size: 20px;
  margin-top: 10px;
}

#mention_quote{
  font-size: 15px;
  font-style: italic;
}

/* --------------------------------------footer */

footer{
  display: flex;
  justify-content: space-between;
  font-size: var(--mediano);
  background-color: var(--black-color);
  padding: 15px;
  color: var(--white-color);
}

#diosmio{
  position:fixed;
  bottom:0;
  width: 98%;
}

/* --------------------------------------Productos */

#titulo{
  padding: 3% 0 0 17%;
  color: var(--white-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.cont_products{
  padding: 50px 0 100px 0;
  text-align: center;
}

.cont_products h1{
  font-size: var(--grande);
}

.cont_products p{
  font-size: var(--mediano);
}

.cont_products .row{
  padding: 4%;
  border: 1px solid var(--black-color);
  border-radius: 10px;
  background-color: #ffffffe7;
}

.prod_descriptions{
  padding-bottom: 20px;
}

.cont_products img:hover{
  transform: scale(1.2, 1.2);
}

/* --------------------------------------Venta */

.modulo_pago{
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: 15px 10px 10px 10px;
  vertical-align: middle;
  /* margin: 2% 3% 2% 4; */
  border-radius: 5px;
}

.image_cfg{
  text-align: center;
}

.modulo_pago h1{
  font-size: var(--grande);
}

.modulo_pago label{
  font-size: medium;
  /* padding: 0 10px 0 0; */
}

.modulo_pago .input{
  margin-top: 4px;
  margin-bottom: 8px;
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid;
  box-sizing: border-box;
}

.modulo_pago .main_button{
  margin: 25px 25% 5px 12.5%;
  width: 75%;
  border-radius: 5px;
}

#row_ventas{
  margin: 96px 0;
}

.faqs{
  margin: 50px 260px 50px 100px;
  margin-left: 100px;
  margin-right: 260px;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
  box-shadow: var(--box);
  background-color: var(--white-color);
  border-radius: 10px;
}